.calendarWrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
}

.calendar {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.calendarCell {
  text-align: center;
  width: 40px;
  border-radius: 12px; /* pill shape */
  padding: 4px 0;
}

.dayLabel {
  font-size: 12px;
  color: gray;
}

.dateNumber {
  font-size: 18px;
  font-weight: 500;
}

.selected {
  background-color: #FF7648;
  color: white;
}

.selectedLabel {
    color:white;
}

.today:not(.selected) {
  border: 1px solid #DCDCDC;
}

.underLine {
  height: 10px;
  border-bottom: 2px solid #FAF9F9;
}